<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wavy.spotifyplaylistwidget"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".PlaylistWidgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SpotifyWidgetTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".SelectActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>

             <!--<intent-filter>-->
                 <!--<action android:name="android.intent.action.MAIN" />-->
                 <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>

        <activity android:name=".ArrangeActivity"
            android:excludeFromRecents="true"/>
        <activity android:name=".CustomizeActivity"
            android:excludeFromRecents="true">
        </activity>

        <activity
            android:excludeFromRecents="true"
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <receiver
            android:name=".widget.PlaylistWidgetProvider"
            android:icon="@mipmap/launcher_icon"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.PlaylistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

    <queries>
        <package android:name="com.spotify.music" />
    </queries>

</manifest>